@import "../../styles/responsive";
@import "../../styles/colors";
@import "../../styles/dimensions";

.container {
  height: 100%;
  width: $panel-width;
  @include respond-to("tablet") {
    width: 100%;
  }
  z-index: 1;
  overflow: hidden;
  background-color: white;
  border-radius: $border-radius-big;
  box-shadow: $box-shadow;
  padding: $panel-padding-large $panel-padding;
}
