@import "../../styles/responsive";
@import "../../styles/colors";
@import "../../styles/dimensions";

.container {
  height: 100%;
  width: $panel-width;
  @include respond-to("tablet") {
    width: 100%;
  }
  z-index: 1;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: $main-gap;
}

.module {
  padding: $panel-padding-large;
  border-radius: $border-radius-big;
  box-shadow: $box-shadow;
}

.moduleTitle {
  color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $panel-padding 0 $panel-padding-large;
}

.moduleTitle h5 {
  margin: 0;
}

.buttonGroup {
  display: flex;
  gap: $nav-gap;
}

.infoIcon {
  color: $primary;
  padding: 1em;
  padding: 0;
  cursor: pointer;
}
