// Import custom font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Overwrite font-family
$font-family-sans-serif: "Montserrat", sans-serif;

// Overwrite colors
$primary: #174b7f;
$secondary: #adadd5;
$danger: #f04926;

@import "bootstrap/scss/bootstrap";

// Google font icons
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@import "dimensions";
@import "responsive";

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  height: calc(100vh - #{$nav-height});
  width: 100vw;
  padding: $main-padding;
  display: flex;
  flex-direction: row;
  gap: $main-gap;
  @include respond-to("tablet") {
    flex-direction: column;
  }
}
